<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:include="head :: dependencies">
</head>

<body>

<nav th:replace="menu :: bar">
</nav>

<main role="main" class="container">
<div>
    <h1 th:text="#{categories}">Categories</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category: ${categoryList}">
            <th scope="row" th:text="${category.id}">1</th>
            <td th:text="${category.name}">Rent</td>
            <td><a style="font-weight: bold; color: red;" class="btn btn-link" href="#" role="button" th:href="@{/category/__${category.id}__/delete}">X</a></td>
        </tr>
        </tbody>
    </table>

    <div>
        <form method="post" action="#" th:action="@{/category}" th:object="${newCategory}" id="categoryForm">
            <div class="form-group">
                <label for="inputCategoryName" th:text="#{categoryName}">Name</label>
                <input required class="form-control" type="text" th:placeholder="#{categoryNamePlaceholder}" th:field="*{name}" id="inputCategoryName"
                    autofocus>
            </div>

            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
</main>

<footer th:replace="footer :: basic">
</footer>

</body>
</html>
