<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:include="head :: dependencies">
</head>

<body>

<nav th:replace="menu :: bar">
</nav>

<main role="main" class="container">
    <div>
        <h1 th:text="#{history}">History</h1>

        <!--&lt;!&ndash; Start month&ndash;&gt;-->
        <!--<label for="startMonth" th:text="#{startMonth}">Start month</label>-->
        <!--<select id="startMonth" th:field="*{startMonth}">-->
            <!--<option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>-->
        <!--</select>-->
        <!--&lt;!&ndash; Start year&ndash;&gt;-->
        <!--&lt;!&ndash; End month&ndash;&gt;-->
        <!--<label for="endMonth" th:text="#{endMonth}">End month</label>-->
        <!--<select id="endMonth" th:field="*{endMonth}">-->
            <!--<option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>-->
        <!--</select>-->
        <!--&lt;!&ndash; End year &ndash;&gt;-->
        <!--&lt;!&ndash; Refresh - GET &ndash;&gt;-->
    </div>
</main>

<footer th:replace="footer :: basic">
</footer>

</body>
</html>
