<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:include="head :: dependencies">
</head>

<body>

<nav th:replace="menu :: bar">
</nav>

<main role="main" class="container">
    <div>
        <h1 th:text="#{history}">History</h1>

        <!-- Start month-->
        <label for="startMonth" th:text="#{startMonth}">Start month</label>
        <select id="startMonth">
            <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
        </select>
        <!-- Start year-->
        <!-- End month-->
        <label for="endMonth" th:text="#{endMonth}">End month</label>
        <select id="endMonth">
            <option th:each="month : ${months}" th:value="${month}" th:text="${month}"></option>
        </select>
        <!-- End year -->
        <!-- Refresh - GET -->
    </div>
</main>

<footer th:replace="footer :: basic">
</footer>

</body>
</html>
