<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:include="head :: dependencies">
</head>

<body>

<nav th:replace="menu :: bar">
</nav>

<main role="main" class="container">
    <div>
        <h1 th:text="#{history}">History</h1>


        <form method="get" action="#" th:action="@{/history}" id="categoryForm">
            <div class="input-group">
                <!-- month-->
                <select id="selectedMonth" name="selectedMonth" class="custom-select">
                    <option th:each="month : ${months}" th:value="${month}" th:text="${month}" th:selected="${month==currentMonth}">1</option>
                </select>
                <!-- year-->
                <select id="selectedYear" name="selectedYear" class="custom-select">
                    <option th:each="year : ${years}" th:value="${year}" th:text="${year}" th:selected="${year==currentYear}">2019</option>
                </select>
                <div class="input-group-append">
                    <input type="submit" value="submit" th:value="#{refreshButton}" class="btn btn-secondary">
                </div>
            </div>
        </form>

        <!-- Payoffs -->
        <div th:if="${historicalPayoffs != null}">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" th:text="#{labelPayoffDate}">Payoff date</th>
                            <th scope="col" th:utext="#{labelOccursRegular}">Regular</th>
                            <th scope="col" th:text="#{labelDescription}">Description</th>
                            <th scope="col" th:text="#{labelAmount}">Amount</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="payoff: ${historicalPayoffs}">
                            <td th:text="${payoff.payoffDate.toString()}" scope="row">2019-01-11</td>
                            <td th:text="${payoff.regularOccurrence ? 'X' : 'O'}"></td>
                            <td th:text="${payoff.description}"></td>
                            <td>
                                <span th:text="${payoff.amount}">30.00</span>
                            </td>
                            <td>
                                <a th:text="#{labelEdit}" href="#" role="button" th:href="@{/payoff?id=__${payoff.id}__}">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col" th:text="#{labelAmount}">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th th:utext="#{sumIrregularAmount}">Sum irregular amount</th>
                            <td scope="row" th:text="${sumIrregularPayoffs}">31.00</td>
                        </tr>

                        <tr>
                            <th th:utext="#{sumRegularAmount}">Sum regular amount</th>
                            <td scope="row" th:text="${sumRegularPayoffs}">31.00</td>
                        </tr>

                        <tr>
                            <th th:text="#{totalSumAmount}">Total sum</th>
                            <td scope="row" th:text="${sumPayoffs}">31.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:replace="footer :: basic">
</footer>

</body>
</html>
