<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>

<nav th:fragment="bar" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:text="#{title}">Housholding book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- Payoff -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="payoffDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{monthlyPayoff}">Monthly payoff</a>
                <div class="dropdown-menu" aria-labelledby="payoffDropdown">
                    <a class="dropdown-item" th:href="@{/history}" th:text="#{history}" href="./history.html">History</a>
                    <a class="dropdown-item" th:href="@{/payoff}" th:text="#{newMonthlyPayoff}" href="./payoff.html">New monthly payoff</a>
                </div>
            </li>

            <!-- Accounting -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{admin}">Administration</a>
                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                    <a class="dropdown-item" th:href="@{/category}" th:text="#{categories}" href="./categories.html">Categories</a>
                    <a class="dropdown-item" th:href="@{/user}" th:text="#{users}" href="./users.html">Users</a>
                </div>
            </li>

        </ul>

        <form th:action="@{/logout}" method="post" th:if="${#request.isUserInRole('USER')}">
            <input type="submit" value="Sign Out"/>
        </form>
        &nbsp;
    </div>
</nav>

</body>
</html>