<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head th:include="head :: dependencies">
</head>

<body>

<nav th:replace="menu :: bar">
</nav>

<main role="main" class="container">
    <div>
        <h1 th:text="#{createOrEditMonthlyPayoff}">New monthly payoff</h1>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" th:text="#{labelPayoffDate}">Payoff date</th>
                    <th scope="col" th:text="#{labelDescription}">Description</th>
                    <th scope="col" th:text="#{labelAmount}">Amount</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lastPayoff: ${lastPayoffs}">
                    <td th:text="${lastPayoff.payoffDate.toString()}">01.01.2001</td>
                    <td th:text="${lastPayoff.description}">Food</td>
                    <td><span th:text="${lastPayoff.amount}">30</span>&nbsp;€</td>
                    <td><a style="font-weight: bold; color: red;" href="#" role="button"
                           th:href="@{/payoff/__${lastPayoff.id}__/delete}">X</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2 th:text="#{newEntry}">New entry</h2>
    <form th:action="@{payoff}" method="post" id="newPayoffEntry" th:object="${newPayoff}">

        <!-- Payoff date -->
        <div class="form-group row">
            <label for="payoffDate" class="col-sm-3 col-form-label" th:text="#{labelPayoffDate}">Payoff date</label>
            <div class="col-sm-9">
                <input type="date" name="payoffDate" id="payoffDate" class="form-control" autofocus
                       th:field="*{payoffDate}" required>
            </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label" th:text="#{labelDescription}">Description</label>
            <div class="col-sm-9">
                <input type="text" name="description" placeholder="description" id="description" class="form-control"
                       th:field="*{description}" required>
            </div>
        </div>

        <!-- Amount -->
        <div class="form-group row">
            <label for="amount" class="col-sm-3 col-form-label" th:text="#{labelAmount}">Amount</label>
            <div class="col-sm-9">
                <input type="number" name="amount" placeholder="amount" id="amount" class="form-control"
                       th:field="*{amount}" step="0.01" required>
            </div>
        </div>

        <!-- Category -->
        <div class="form-group row">
            <label for="category" class="col-sm-3 col-form-label" th:text="#{labelCategory}">Category</label>
            <div class="col-sm-9">
                <select name="category" id="category" class="form-control" th:field="*{categoryId}">
                    <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">
                        Insurance
                    </option>
                </select>
            </div>
        </div>

        <!-- does it always occur or sometimes? -->
        <div class="form-group row">
            <label for="regularOccurrence" class="col-sm-3 col-form-label" th:utext="#{labelOccursRegular}">Occurs
                regular</label>
            <div class="col-sm-9">
                <input type="checkbox" name="amount" id="regularOccurrence" class="form-control"
                       th:field="*{regularOccurrence}">
            </div>
        </div>

        <!-- Submit -->
        <div class="form-group row">
            <div class="col-sm-9">
                <input type="submit" value="submit" placeholder="Submit" class="btn btn-primary">
            </div>
        </div>

    </form>

    </div>
</main>

<footer th:replace="footer :: basic">
</footer>

</body>
</html>
